@import "../App.scss";

.body {
  padding: 1em;
  height: 75%;
  background-color: white;
  color: darkslategrey;

  &__hero-image {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 40vh;
    align-items: center;
    object-fit: contain;
  }
}